@charset "UTF-8";

body {
  background-color: white;
}

#input_field {
  display: flex;
  justify-content: left;
  padding-top: 40px;
}

#button {
  margin-left: 20px;
}

table {
  width: 650px;
  border-collapse: collapse
}

th {
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}

td {
  border-right: 1px black solid;
}

.rightend {
  border-right-style: none;
}
